/ .notice


/ .left-top-content
/   %p yuuta
/   %i.fa.fa-pen-square
/   %i.fa.fa-cog

/ .left-bottom-content
/   %p.left-under-content__group-name ユーザネーム
/   %p.left-under-content__group-message メッセージ
/   %p.left-under-content__group-name ユーザネーム２
/   %p.left-under-content__group-message メッセージ２


.notice
  %p　チャットグループが作成されました。

.contents
  .left-top-content
    %p yuuta
    %i.fa.fa-pen-square
    %i.fa.fa-cog
  .left-bottom-content
    %p.left-under-content__group-name ユーザネーム
    %p.left-under-content__group-message メッセージ
    %p.left-under-content__group-name ユーザネーム２
    %p.left-under-content__group-message メッセージ２
