.content
  .main-content
  .left-content
    %p yuuta
    %i.fa.fa-pen-square
    %i.fa.fa-cog
  .left-under-content
    %p.left-under-content__group-name ユーザネーム
    %p.left-under-content__group-message メッセージ
