.chat-header {
  height: 100px;
  padding: 0 40px;
  .left-header {
    float: left;
    &__title {
      color: #333;
      font-size: 20px;
      margin-top: 35px;
    }
    &__members {
      color: #999;
      font-size: 12px;
      margin-top: 15px;
    }
  }
  .right-header {
    border: 1px solid #38AEF0;
    color: #38AEF0;
    float: right;
    height: 40px;
    line-height: 40px;
    margin-top: 28px;
    padding: 0 20px;
    &__button {
      color: #38AEF0;
      text-decoration: none;
    }
  }
}
