.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 50px 20px 40px;
  .js-form {
    .form__message {
      border: none;
      float: left;
      height: 50px;
      padding: 0 10px;
      width: calc(100% - 150px);
    }
  }
  .form__mask {
    // background-color: #fff;
    // float: left;
    // height: 50px;
    // padding-right: 10px;
    .form__mask__image {
      font-size: 20px;
      line-height: 50px;
      .fa {
        font-size: 20px;
        line-height: 50px;
      }
    }
  }
}
