.side-bar {
  color: #fff;
  width: 300px;
  float: left;
  .header {
    background-color: #253141;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    &__name {
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
    }
    &__lists {
      display: inline-block;
      float: right;
      .list {
        display: inline-block;
        .icon {
          color: #fff;
          font-size: 16px;
        }
      }
    }
  }
  .groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 0 20px;
    .group {
      padding: 20px 0 40px;
      a {
        color: #fff;
        .group__name {
          margin: 0;
          padding: 0;
          font-size: 15px;
        }
        .group__message {
          margin: 0;
          padding: 0;
          font-size: 11px;
        }
      }
    }
  }
}
